<h1>{{title}}</h1>
<h4>Useful Links:</h4>
<ul>
    <li><a href = '/login'>Log In</a></li>
    <li><a href = '/users/new'>Create a new account</a></li>
    <li><a href = '/rooms/index'>View Rooms</li>
    <li><a href = '/rooms/new'>Create a new room</a></li>
</ul>
